﻿@using EpamTask1.Models
@using System.Globalization
@model IEnumerable<Event>

@*@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer*@

@{
    ViewData["Title"] = "Home Page";
}

@*@foreach (var item in Model)
{
    
    <a asp-controller="event" asp-action="index">@item.Name</a>
    <h2>@item.Date.ToString("D",CultureInfo.CurrentCulture)</h2>
    <img src="@item.Banner"/>
}*@


