﻿@using EpamTask1.Models
@model IEnumerable<Ticket>

@foreach (var item in Model)
{
    <p>@item.Event.Name</p>
    <p>@item.Event.Date</p>
    <img src="@item.Event.Banner"/>

    <p>@item.Event.Venue.GetAdress()</p>

    <p>@item.Seller.FirstName</p>
    <p>@item.Seller.LastName</p>
    <p>@item.Price</p>
}