﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EpamTask1.Models
@using System.Globalization
@model IEnumerable<Event>

@foreach (var item in Model)
{
    @*ссылка*@
    <a asp-controller="ticket" asp-action="index" asp-route-id="@item.Id">@item.Name</a>

        <h2>@item.Date.ToString("D", CultureInfo.CurrentCulture)</h2>
        <img src="@item.Banner" />
}